* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 228, 228);
}

#title {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 60px;
}

@media screen and (max-width: 750px){
    #title {
        font-size: 40px;
    }
}

#description {
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    font-size: large;
    font-weight: bold;
}

#leftTextBox {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
        bottom: 20%;
        left: 2%;
}

#rightTextBox {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
        bottom: 20%;
        right: 2%;
}

#leftText,#rightText {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 50px;
 }
 @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

 #calculator {
    height: 525px;
    width: 400px; 
    margin: auto;
    padding: 10px;
    border-radius: 10px;
} 

#result {
    height: 25%;
    width: 100%;
    text-align: end;
    padding: 10px;
    border: none;
    font-size: 100px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background-color:rgb(50, 50, 50);
    color: white;     
}

::placeholder {
    color: white;   
  }

#button_wrapper{
    height: 75%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4,50px);
    gap: 10px 40px;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: rgb(107, 107, 107);        
} 

button {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size: 38px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgb(255, 255, 255);                      
}

#multiply,#divide,#equal,#add,#subtract,#backspace,#clear,#point {
    background-color: rgb(255, 159, 9);                            
}

button:hover {
    cursor: pointer;
}

#backspace {
font-size: x-large;
}

#clear {
    font-size: x-large;
    }